In [3]:
import pandas as pd
df=pd.read_csv("C:/Users/polla/Desktop/curso python esecencial ciencia de datos/evaluar eficeincia del codigo/datos1.csv")

In [29]:
df.head(24)

,Price,Bathrooms,Bedrooms,ParkingSlots,SquareMeters,GpsLongitude,GpsLatitude,Municipio,Estado
0,9500000.0,4,4,4,470.0,-89.611038,21.063482,Merida,Yucatán
1,799999.0,2,2,1,71.0,-100.398136,20.663553,Santiago de Querétaro,Querétaro
2,5250000.0,3,3,2,177.0,-99.299350,19.355751,Cuajimalpa,Ciudad de México
3,8200000.0,2,3,3,156.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
4,6250000.0,3,3,3,200.0,-99.293693,19.356364,Cuajimalpa,Ciudad de México
5,19750000.0,3,3,4,256.0,-99.254541,19.385992,Cuajimalpa,Ciudad de México
6,7200000.0,3,3,4,599.0,-89.614570,21.023252,Merida,Yucatán
7,6300000.0,2,2,2,140.0,-99.173591,19.396537,Benito Juarez,Ciudad de México
8,9900000.0,3,3,2,199.0,-99.286972,19.388187,Huixquilucan,Estado de México
9,6500000.0,2,3,2,178.0,-99.204056,19.361456,Álvaro Obregón,Ciudad de México
10,4990000.0,2,2,2,90.0,-99.164989,19.393514,Benito Juarez,Ciudad de México
11,22950000.0,2,2,4,359.0,-99.265160,19.389347,Cuajimalpa,Ciudad de México
12,15000000.0,3,3,4,480.0,-99.265419,19.409180,Huixquilucan,Estado de México
13,1200000.0,1,2,1,80.0,-99.599123,18.959560,Tenancingo Municipality,Estado de México
14,5500000.0,2,3,2,195.0,-99.293300,19.362600,Cuajimalpa,Ciudad de México
15,720000.0,1,2,1,67.0,-99.219725,19.684579,Cuautitlán Izcalli Municipality,Estado de México
16,22990000.0,3,3,4,416.0,-99.232815,19.408886,Miguel Hidalgo,Ciudad de México
17,1499175.0,2,2,2,750.0,-98.292735,19.067158,San Pedro Cholula,Puebla
18,11990000.0,4,3,2,305.0,-99.260733,19.422539,Huixquilucan,Estado de México
19,14900000.0,3,3,3,380.0,-99.258580,19.414514,Huixquilucan,Estado de México
20,7950000.0,3,3,2,365.0,-99.897157,20.540513,Tequisquiapan Municipality,Querétaro
21,24900000.0,3,3,3,600.0,-99.225562,19.386393,Álvaro Obregón,Ciudad de México
22,2805000.0,2,2,1,66.0,-99.163984,19.370485,Benito Juarez,Ciudad de México
23,5490000.0,2,2,2,95.0,-99.169141,19.430132,Cuauhtémoc,Ciudad de México

In [21]:
df.groupby(by="SquareMeters")["Price"].max() #muestra la cantidad de maximos de ambas tablas solo en debe adminitir  int, float

SquareMeters
40.0       2868695.0
41.0       2840000.0
42.0       2679720.0
43.0       2367630.0
44.0       2700000.0
             ...
1940.0    20500000.0
1951.0     5500000.0
1956.0     9800000.0
1987.0     1600000.0
2000.0    19300000.0
Name: Price, Length: 897, dtype: float64

In [22]:
df.groupby(by="SquareMeters")["Price"].mean()#media de los datos  seria la media del precio para los metros cuadrados

SquareMeters
40.0      1.258595e+06
41.0      1.610000e+06
42.0      1.205122e+06
43.0      1.011037e+06
44.0      1.130379e+06
              ...
1940.0    2.050000e+07
1951.0    5.500000e+06
1956.0    9.800000e+06
1987.0    1.600000e+06
2000.0    8.031765e+06
Name: Price, Length: 897, dtype: float64

In [23]:
df.groupby(by="SquareMeters")["Price"].min() #minimo de los datos

SquareMeters
40.0        250000.0
41.0        380000.0
42.0        290000.0
43.0        326000.0
44.0        290000.0
             ...
1940.0    20500000.0
1951.0     5500000.0
1956.0     9800000.0
1987.0     1600000.0
2000.0     1190000.0
Name: Price, Length: 897, dtype: float64

In [24]:
df.groupby(by="SquareMeters")["Price"].count()#numero de casos

SquareMeters
40.0      18
41.0       2
42.0      11
43.0       9
44.0      14
          ..
1940.0     1
1951.0     1
1956.0     1
1987.0     1
2000.0    17
Name: Price, Length: 897, dtype: int64

In [25]:
df.groupby(by="SquareMeters")["Price"].describe() #muestra resumen estadistico para cada metro cuadrado del precio

,count,mean,std,min,25%,50%,75%,max
SquareMeters,,,,,,,,
40.0,18.0,1.258595e+06,1.003817e+06,250000.0,365000.0,838889.5,2450000.0,2868695.0
41.0,2.0,1.610000e+06,1.739483e+06,380000.0,995000.0,1610000.0,2225000.0,2840000.0
42.0,11.0,1.205122e+06,9.513452e+05,290000.0,433750.0,550000.0,1880200.0,2679720.0
43.0,9.0,1.011037e+06,7.634704e+05,326000.0,399600.0,700000.0,1393600.0,2367630.0
44.0,14.0,1.130379e+06,6.774624e+05,290000.0,696250.0,974500.0,1410225.0,2700000.0
...,...,...,...,...,...,...,...,...
1940.0,1.0,2.050000e+07,NaN,20500000.0,20500000.0,20500000.0,20500000.0,20500000.0
1951.0,1.0,5.500000e+06,NaN,5500000.0,5500000.0,5500000.0,5500000.0,5500000.0
1956.0,1.0,9.800000e+06,NaN,9800000.0,9800000.0,9800000.0,9800000.0,9800000.0
1987.0,1.0,1.600000e+06,NaN,1600000.0,1600000.0,1600000.0,1600000.0,1600000.0
2000.0,17.0,8.031765e+06,6.040030e+06,1190000.0,3400000.0,6500000.0,9600000.0,19300000.0

In [27]:
df.groupby(by="SquareMeters")["Price","Bathrooms"].mean() #muestra media y se  puede hacer con cualquier  columna  
#deben ser del mismo caracter  float , int , texto etc...

C:\Users\polla\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                     Price  Bathrooms
SquareMeters
40.0          1.258595e+06   1.111111
41.0          1.610000e+06   1.000000
42.0          1.205122e+06   1.090909
43.0          1.011037e+06   1.000000
44.0          1.130379e+06   1.214286
...                    ...        ...
1940.0        2.050000e+07   4.000000
1951.0        5.500000e+06   1.000000
1956.0        9.800000e+06   4.000000
1987.0        1.600000e+06   1.000000
2000.0        8.031765e+06   3.294118

[897 rows x 2 columns]

In [28]:
df.groupby(by="SquareMeters")["Price"].max() - df.groupby(by="SquareMeters")["Price"].min() #restar el maximo y el minimo 
#ver rango de valores para cada metro cuadrado

SquareMeters
40.0       2618695.0
41.0       2460000.0
42.0       2389720.0
43.0       2041630.0
44.0       2410000.0
             ...
1940.0           0.0
1951.0           0.0
1956.0           0.0
1987.0           0.0
2000.0    18110000.0
Name: Price, Length: 897, dtype: float64

In [32]:
dfCDMX=df[df.Estado.isin(["Benito Juarez","Álvaro Obregón"])]#seleccionar ciudades que salgan de ese estado  EJEMPLO CDMX  a Benito Juarez

In [47]:
dfCDMX.groupby(by= ["Bathrooms","Bedrooms"])["Price"].mean()

Series([], Name: Price, dtype: float64)

In [48]:
mygroupby=dfCDMX.groupby(by= ["Bathrooms","Bedrooms"])["Price"]

In [50]:
mygroupby.head()

Series([], Name: Price, dtype: float64)